// Specific CSS for your home-page
.home_title  {
  text-align: center;
  font-size: 75px;
  font-family:'Piedra', cursive;
}

.home_page{
  text-align: center;
  font-size: 50px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}
a {
  color: black;
}
.cocktail_infos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
